<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link th:href="@{/styles/main.css}" rel="stylesheet" />
	<title>Thymeleaf Demo</title>
</head>

<body>
<div class="d-flex flex-row bg-light-dark justify-content-center border border-1 text-light sticky-top">
<div class="p-2"><a th:href="@{/home}"> Home page</a> </div>
<div class="p-2"><a th:href="@{/home/listProducts}"> Show posted products</a> </div>
<div class="p-2"> Post an offer </div>
<div class="p-2"><div th:text="'Current balance: '+${currUser.customer.balance}+'$'"></div></div>
<div class="p-2"><a th:href="@{/logout}">Logout</a> </div>
</div>
  <div class="row row-no-padding bg-dark border border-1 text-light">
    <div class="col ">
      
    </div>
    <div class="col-8  bg-cyan border border-1 text-light">
    
    <div th:each="singleProduct : ${products}" class="d-flex flex-column justify-content-center border">
    
    	<b><div th:text="'🔥 '+${singleProduct.productName}+ ' 🔥 '" class="p-2"></div></b>	
      	<div th:text="'Product owner: '+ ${singleProduct.productOwner.firstName} + ' ' + ${singleProduct.productOwner.lastName}" class="p-2"></div>
      	<div th:text="'Product description: '+ ${singleProduct.productDescription}" class="p-2"></div>
      	<div th:text="'Product cost: '+${singleProduct.productCost}+' $'" class="p-2"></div>
      	
 <div class="modal fade text-secondary" th:attr="id=${'confirmModal'+singleProduct.id}">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to buy this product?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div th:text="'This operation cannot be reversed.'" class="p-2"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a th:href="@{/home/showOffer/{id} (id=${singleProduct.id})}"><button type="button" class="btn btn-primary">Buy</button></a>
      </div>
    </div>
  </div>
 </div>
 
      <a th:href="@{/home/showOffer/{id} (id=${singleProduct.id})}" data-toggle="modal" th:attr="data-target=${'#confirmModal'+singleProduct.id}" class="btn btn-secondary p-2 save_button">Buy it!</a>
    </div>
</div>
    <div class="col bg-dark border border-1 text-light">
      test2
    </div>
    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>