.row {
 
}
.row-no-padding {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*="col-"],
[class^="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bg-light-dark {
	background-color: #4E3524 !important;
}

a {
    color: white;
    text-decoration: none;
}

a:hover, a:focus {
    color: orange;
    text-decoration: underline;
}